GROQ_API_KEY=your_groq_key_here
SERPER_API_KEY=your_serper_key_here
SLACK_WEBHOOK_URL=your_slack_webhook_url_here
GOOGLE_SHEET_ID=your_sheet_id_here
GOOGLE_SERVICE_ACCOUNT_JSON=paste_the_full_json_key_as_one_line_here
